In [117]:
import pandas as pd

In [116]:
d1 = pd.read_csv('Data/2015.csv')
d2 = pd.read_csv('Data/2016.csv')
d3 = pd.read_csv('Data/2017.csv')
d4 = pd.read_csv('Data/2018.csv')
d5 = pd.read_csv('Data/2019.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Data/2015.csv'

## Check the columns for each csv files

In [3]:
columns = pd.DataFrame([d1.columns,d2.columns,d3.columns,d4.columns,d5.columns]).T

In [4]:
columns

,0,1,2,3,4
0,Country,Country,Country,Overall rank,Overall rank
1,Region,Region,Happiness.Rank,Country or region,Country or region
2,Happiness Rank,Happiness Rank,Happiness.Score,Score,Score
3,Happiness Score,Happiness Score,Whisker.high,GDP per capita,GDP per capita
4,Standard Error,Lower Confidence Interval,Whisker.low,Social support,Social support
5,Economy (GDP per Capita),Upper Confidence Interval,Economy..GDP.per.Capita.,Healthy life expectancy,Healthy life expectancy
6,Family,Economy (GDP per Capita),Family,Freedom to make life choices,Freedom to make life choices
7,Health (Life Expectancy),Family,Health..Life.Expectancy.,Generosity,Generosity
8,Freedom,Health (Life Expectancy),Freedom,Perceptions of corruption,Perceptions of corruption
9,Trust (Government Corruption),Freedom,Generosity,None,None
10,Generosity,Trust (Government Corruption),Trust..Government.Corruption.,None,None
11,Dystopia Residual,Generosity,Dystopia.Residual,None,None
12,None,Dystopia Residual,None,None,None

### From the above table, we observed that there are some columns are the same and also important, so we want to keep these that are relevant and drop these that are not relevant, as well as add a column that would be beneficial to the analysis.

### I have select all the necessary columns (Rank, Country, Region, Happiness Rank, Happiness Score), and all the factors that is going to affeect the happiness scores (Economy, Family, Health, Freedom, Trust Corruption, and Generosity) as what I treat as relevant columns to look at, and drop otherwise.

## 2015

### Create a dictionary of region that associated to corresponding country

In [5]:
country_region = d1[['Country','Region']]

In [6]:
country_region = dict(zip(d1.Country,d1.Region))

### Drop unnecessary columns for each year (2016 - 2019)
### Rearrange the dataframe into the order I wanted

In [7]:
#Remove unnecessary columns
d1 = d1.drop(d1.columns[[4,11]], axis = 1)

In [8]:
#Rename columns
d1.columns = ["Country", "Region", "HappyRank", "HappyScore", "Economy", 
              "Family", "Health", "Freedom", "TrustCorruption", "Generosity"]

In [9]:
#Reorder columns
d1 = d1[["HappyRank", "Country", "Region", "HappyScore", "Economy", 
         "Family", "Health", "Freedom", "TrustCorruption", "Generosity"]]

## 2016

In [10]:
#Remove unnecessary columns
d2 = d2.drop(d2.columns[[4,5,12]], axis = 1)

In [11]:
#Rename columns
d2.columns = ["Country", "Region", "HappyRank", "HappyScore", "Economy", 
              "Family", "Health", "Freedom", "TrustCorruption", "Generosity"]

In [12]:
#Reorder columns
d2 = d2[["HappyRank", "Country", "Region", "HappyScore", "Economy", 
         "Family", "Health", "Freedom", "TrustCorruption", "Generosity"]]

## 2017

In [13]:
#Remove unnecessary columns
d3 = d3.drop(d3.columns[[3,4,11]], axis = 1)

In [14]:
#Assign region according to country
d3["Region"] = d3["Country"].apply(lambda x: country_region.get(x))

In [15]:
#Rename columns
d3.columns = ["Country", "HappyRank", "HappyScore", "Economy", 
              "Family", "Health", "Freedom", "Generosity", "TrustCorruption", "Region"]

In [16]:
#Reorder columns
d3 = d3[["HappyRank", "Country", "Region", "HappyScore", "Economy", 
         "Family", "Health", "Freedom", "TrustCorruption", "Generosity"]]

## 2018

In [17]:
#Assign region according to country
d4["Region"] = d4["Country or region"].apply(lambda x: country_region.get(x))

In [18]:
#Rename columns
d4.columns = ["HappyRank", "Country", "HappyScore", "Economy", "Family",  
              "Health", "Freedom", "Generosity", "TrustCorruption", "Region"]

In [19]:
#Reorder columns
d4 = d4[["HappyRank", "Country", "Region", "HappyScore", "Economy", 
         "Family", "Health", "Freedom", "TrustCorruption", "Generosity"]]

## 2019

In [20]:
#Assign region according to country
d5["Region"] = d5["Country or region"].apply(lambda x: country_region.get(x))

In [21]:
#Rename columns
d5.columns = ["HappyRank", "Country", "HappyScore", "Economy", "Family",  
              "Health", "Freedom", "Generosity", "TrustCorruption", "Region"]

In [22]:
#Reorder columns
d5 = d5[["HappyRank", "Country", "Region", "HappyScore", "Economy", 
         "Family", "Health", "Freedom", "TrustCorruption", "Generosity"]]

## We check the columns name with every tables again.

In [79]:
columns = pd.DataFrame([d1.columns,d2.columns,d3.columns,d4.columns,d5.columns]).T
columns.columns = ['2015','2016','2017','2018','2019']

In [24]:
columns

,2015,2016,2017,2018,2019
0,HappyRank,HappyRank,HappyRank,HappyRank,HappyRank
1,Country,Country,Country,Country,Country
2,Region,Region,Region,Region,Region
3,HappyScore,HappyScore,HappyScore,HappyScore,HappyScore
4,Economy,Economy,Economy,Economy,Economy
5,Family,Family,Family,Family,Family
6,Health,Health,Health,Health,Health
7,Freedom,Freedom,Freedom,Freedom,Freedom
8,TrustCorruption,TrustCorruption,TrustCorruption,TrustCorruption,TrustCorruption
9,Generosity,Generosity,Generosity,Generosity,Generosity

##### Every year tables have identical columns now.

## We check if there's any null value for every tables for every columns

In [83]:
column1 = pd.DataFrame([d1.isnull().sum(),d2.isnull().sum(),d3.isnull().sum(),d4.isnull().sum(),d5.isnull().sum()]).T
column1.columns = ['2015','2016','2017','2018','2019']
column1

                 2015  2016  2017  2018  2019
HappyRank           0     0     0     0     0
Country             0     0     0     0     0
Region              0     0     6     6     7
HappyScore          0     0     0     0     0
Economy             0     0     0     0     0
Family              0     0     0     0     0
Health              0     0     0     0     0
Freedom             0     0     0     0     0
TrustCorruption     0     0     0     1     0
Generosity          0     0     0     0     0

## These missing regions for three different files, which I went back to csv to check, they didn't name the country consistent, and when I first doing the dictionary pairs with country and regions, there are some missing country, that's why I have missing values for region, so I have to rename country, and luckily I was able to find all of them except for gambia, which mean I have to look for myself online to check its region.

## Target null value for Region first

In [87]:
#Getting the country with no associated region in year 2017
d3[d3['Region'].isnull()]['Country']

32     Taiwan Province of China
49                       Belize
70      Hong Kong S.A.R., China
92                      Somalia
110                     Namibia
146                 South Sudan
Name: Country, dtype: object

In [88]:
#Getting the country with no associated region in year 2018
d4[d4['Region'].isnull()]['Country']

37     Trinidad & Tobago
48                Belize
57       Northern Cyprus
97               Somalia
118              Namibia
153          South Sudan
Name: Country, dtype: object

In [90]:
#Getting the country with no associated region in year 2019
d5[d5['Region'].isnull()]['Country']

38     Trinidad & Tobago
63       Northern Cyprus
83       North Macedonia
111              Somalia
112              Namibia
119               Gambia
155          South Sudan
Name: Country, dtype: object

In [96]:
#Getting the right country that's formatted in csv file
t1 = d2[d2['Country'].isin(['Trinidad and Tobago', 'Belize', 
                            'North Cyprus', 'Somalia', 'Namibia',
                            'South Sudan', 'Taiwan', 'Hong Kong','Macedonia', 'Gambia'])]
t1

,HappyRank,Country,Region,HappyScore,Economy,Family,Health,Freedom,TrustCorruption,Generosity
34,34,Taiwan,Eastern Asia,6.379,1.39729,0.92624,0.79565,0.32377,0.06630,0.25495
42,43,Trinidad and Tobago,Latin America and Caribbean,6.168,1.32572,0.98569,0.52608,0.48453,0.01241,0.31935
51,52,Belize,Latin America and Caribbean,5.956,0.87616,0.68655,0.45569,0.51231,0.10771,0.23684
61,62,North Cyprus,Western Europe,5.771,1.31141,0.81826,0.84142,0.43596,0.16578,0.26322
74,75,Hong Kong,Eastern Asia,5.458,1.51070,0.87021,0.95277,0.48079,0.31647,0.40097
75,76,Somalia,Sub-Saharan Africa,5.440,0.00000,0.33613,0.11466,0.56778,0.31180,0.27225
94,95,Macedonia,Central and Eastern Europe,5.121,1.01930,0.78236,0.64738,0.27668,0.07047,0.23507
112,113,Namibia,Sub-Saharan Africa,4.574,0.93287,0.70362,0.34745,0.48614,0.10398,0.07795
142,143,South Sudan,Sub-Saharan Africa,3.832,0.39394,0.18519,0.15781,0.19662,0.13015,0.25899

In [99]:
#Rename Country
d3.iat[32,1] = 'Taiwan'
d3.iat[70,1] = 'Hong Kong'
d4.iat[37,1] = 'Trinidad and Tobago'
d4.iat[57,1] = 'North Cyprus'
d5.iat[38,1] = 'Trinidad and Tobago'
d5.iat[63,1] = 'North Cyprus'
d5.iat[83,1] = 'Macedonia'

In [100]:
for i, k in enumerate(t1.index):
    print(i,k)

0 34
1 42
2 51
3 61
4 74
5 75
6 94
7 112
8 142

In [103]:
country_region1 = {}
# Dict variable to pair country corresponding region
for i, k in enumerate(t1.index):
    country_region1[t1.loc[k]['Country']] = t1.loc[k]['Region']
country_region1['Gambia'] = 'Sub-Saharan Africa'

In [104]:
country_region1

{'Taiwan': 'Eastern Asia',
 'Trinidad and Tobago': 'Latin America and Caribbean',
 'Belize': 'Latin America and Caribbean',
 'North Cyprus': 'Western Europe',
 'Hong Kong': 'Eastern Asia',
 'Somalia': 'Sub-Saharan Africa',
 'Macedonia': 'Central and Eastern Europe',
 'Namibia': 'Sub-Saharan Africa',
 'South Sudan': 'Sub-Saharan Africa',
 'Gambia': 'Sub-Saharan Africa'}

In [108]:
#Based on its country it is going to look for the value in dict in country_region1 to get the corresponding region
d3.loc[d3['Region'].isnull(),"Region"] = d3["Country"].apply(lambda x: country_region1.get(x))
d4.loc[d4['Region'].isnull(),"Region"] = d4["Country"].apply(lambda x: country_region1.get(x))
d5.loc[d5['Region'].isnull(),"Region"] = d5["Country"].apply(lambda x: country_region1.get(x))

## Target null value for TrustCorruption

In [110]:
# Decide to replace the mean value to the only null value
d4['TrustCorruption'] = d4.TrustCorruption.fillna(d4['TrustCorruption'].mean())

## We check with null value again for every table

In [111]:
column1 = pd.DataFrame([d1.isnull().sum(),d2.isnull().sum(),d3.isnull().sum(),d4.isnull().sum(),d5.isnull().sum()]).T
column1.columns = ['2015','2016','2017','2018','2019']
column1

                 2015  2016  2017  2018  2019
HappyRank           0     0     0     0     0
Country             0     0     0     0     0
Region              0     0     0     0     0
HappyScore          0     0     0     0     0
Economy             0     0     0     0     0
Family              0     0     0     0     0
Health              0     0     0     0     0
Freedom             0     0     0     0     0
TrustCorruption     0     0     0     0     0
Generosity          0     0     0     0     0

## We add year to the corresponding dataframe for better reference

In [112]:
d1.insert(0, 'year', '2015')
d2.insert(0, 'year', '2016')
d3.insert(0, 'year', '2017')
d4.insert(0, 'year', '2018')
d5.insert(0, 'year', '2019')

## Then I combine them into a single csv file

In [113]:
data = pd.concat([d1, d2], axis=0)
data = pd.concat([data, d3], axis=0)
data = pd.concat([data, d4], axis=0)
data = pd.concat([data, d5], axis=0)

In [114]:
data

,year,HappyRank,Country,Region,HappyScore,Economy,Family,Health,Freedom,TrustCorruption,Generosity
0,2015,1,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2015,2,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2015,3,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,2015,4,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,2015,5,Canada,North America,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...,...
151,2019,152,Rwanda,Sub-Saharan Africa,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700
152,2019,153,Tanzania,Sub-Saharan Africa,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600
153,2019,154,Afghanistan,Southern Asia,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800
154,2019,155,Central African Republic,Sub-Saharan Africa,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500
155,2019,156,South Sudan,Sub-Saharan Africa,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200

In [115]:
data.reset_index()

,index,year,HappyRank,Country,Region,HappyScore,Economy,Family,Health,Freedom,TrustCorruption,Generosity
0,0,2015,1,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,1,2015,2,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2,2015,3,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,3,2015,4,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,4,2015,5,Canada,North America,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...,...,...
777,151,2019,152,Rwanda,Sub-Saharan Africa,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700
778,152,2019,153,Tanzania,Sub-Saharan Africa,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600
779,153,2019,154,Afghanistan,Southern Asia,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800
780,154,2019,155,Central African Republic,Sub-Saharan Africa,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500
781,155,2019,156,South Sudan,Sub-Saharan Africa,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200

## We exporting data for visulization on tableau